<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GP-Appointment</title>
    <link href="https://fonts.googleapis.com/css?family=Spirax" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="data:,">
  </head>
  <body>
    {{>header}}
    {{>videobackground}}
    <div class="app">
      <h1 class="title">GP-Appointment</h1>
      {{{body}}}
    </div>
    {{>footer}}
  </body>
</html>
